<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="userPearsonSimilarity" class="org.apache.mahout.cf.taste.impl.similarity.PearsonCorrelationSimilarity">
		<constructor-arg index="0">
			<ref bean="testModel" />
		</constructor-arg>
	</bean>
	
	<bean name="userPearsonNeighborhood" class="org.apache.mahout.cf.taste.impl.neighborhood.NearestNUserNeighborhood">
		<constructor-arg index="0" value="${neighborhood}"/>
		<constructor-arg index="1" ref="userPearsonSimilarity"/>
		<constructor-arg index="2" ref="testModel"/>
	</bean>
	
	<bean name="userPearsonRecommender" class="org.apache.mahout.cf.taste.impl.recommender.GenericUserBasedRecommender">
		<constructor-arg index="0" ref="testModel"/>
		<constructor-arg index="1" ref="userPearsonNeighborhood" />
		<constructor-arg index="2" ref="userPearsonSimilarity"/>
	</bean>

	<bean name="userPearsonService" class="edu.ub.tfc.recommender.services.impl.RecommenderServiceImpl">
		<property name="recommender" ref="userPearsonRecommender"/>
	</bean>

</beans>